*{
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
}
.titlep, .who, .what{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}
.titleimage {

    background-image: url("Images/Shrinez .2-1.jpg");

    height: 100%;
    background-position: 40% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.titlep {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    border-radius: 5px;
}

nav li {
    display: inline-block;
    margin: 0 130px;
    padding-top: 23px;
    text-align: center;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #444444;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
.logo{
position: relative;
}

.who {
    background-image: url("Images/2.jpg");
    height: 100%;
    background-position: 40% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.whopara {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.what {
    background-image: url("Images/_1-1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}