*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
}
@media only screen and (max-device-width: 900px) {
    .section-title{
        background-attachment: scroll;
    }
}

.section-title {
    background: url("Images/Shrinez .2-1.jpg") no-repeat center fixed;
    height: 100%;
    background-size: cover;
    position: relative;
}

.section-t-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Raleway', sans-serif;

}
.section-who{
    background: url("Images/2-2.jpg") no-repeat center;
    height: 100%;
    background-size: cover;
    position: relative;
    display: flex;
}
.section-w-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}

.section-what{
    background: url("Images/day 2 -1-2.jpg") no-repeat center;
    height: 100%;
    background-size: cover;
    position: relative;
}

.section-wh-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Raleway', sans-serif;
}
.whatlist{
    text-align: center;
}

.whatcontainer{
    display: flex;
    text-align: center;
    background-color: floralwhite;


}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-image: url("Images/uTPHRbC.png");
}

.footer p{
    color: white;
}
.footer i{
    text-decoration: none;
    color: white;
}

.footer i:hover{
    opacity: 0.5;
}